.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header__top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-sizing: border-box;
  position: relative;
}

.all-menu-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-menu-area button {
  border: none;
  width: 100%;
  background: transparent;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.header__top__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 900px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ff5733;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
}

.header__top__search__input__group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 12px;
}

.header__top__search__input__group input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
  background-color: transparent;
  color: #333;
}

.header__top__search button:hover {
  background-color: #ff5733;
}
.header__top__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__bottom {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  gap: 5px;
}
.header__bottom__categories__item {
  width: 100%;
  border: 1px solid #ff5733;
  border-left: none;
  border-top: none;
  border-bottom: none;
  text-align: center;
}
.header__bottom__categories__item:hover {
  background-color: #ff5733;
}
.header__bottom__categories__item:hover a {
  color: whitesmoke;
}
.header__bottom__categories__item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.categories_mini_menu__wrapper {
  width: 100%;
  display: none;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  z-index: 9999;
}
#mobile__sidebar__hamburger__icon{
  display: none;
  border: none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  color: #ff5733;
}
@media (max-width: 768px) {
  .header__top {
    flex-direction: row;
    gap: 16px;
    padding: 16px 20px;
  }
  .header__top__search{
    display: none;
  }
  #mobile__sidebar__hamburger__icon{
   display: block;
  }

  .categories_mini_menu__wrapper {
    display: none;
  }
  .header__bottom{
    display: none;
  }
}
